.jumbotron{
	width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
	background-image: url(img/pola.jpg);
	background-size: cover;
	height: 600px;
}
@media (min-width: 1300px){
	.jumbotron{
		background-position: 0 -220px;
		height: 500px;
	}
}
.card:hover{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	transform: scale(1.02);
}
div.col-xl-3.ml-xl-0.col-lg-4.ml-lg-0.col-md-4.pl-md-2.col-sm-6.col-6.mb-1 .card{
	width: 15rem;
	height: 440px;
} 
div#pesan .countainer .card{
		width: 10.5rem;
	    height: 275px;
	}
div#pesan .container .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6.mb-1 .card-body p{
    font-size: 10px;
}
div#pesan .container .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6.mb-1 input{
	width: 70px;
}

@media (max-width: 366px){

	nav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-primary.text-white.font-weight-normal {
		height: 32px;
	    padding: 1px 21px;
	}
	nav a.navbar-brand {
	    font-size: 10px;
	}
	nav button.navbar-toggler {
	    width: 26px;
	    height: 26px;
	    padding: 0;
	    padding-bottom: 3px;
	}
	nav span.navbar-toggler-icon {
	    font-size: 13px;
	}
	div#home {
	    height: auto;
	}
	div#home h1.display-3.mt-xl-5.mt-lg-5.pt-lg-5.mt-md-5.mt-sm-5.pt-sm-5.mt-5.pt-5 {
	    font-size: 40px;
	}
	div#home p.lead {
	    font-size: 11px;
	}
	div#home p {
	    font-size: 11px;
	}
	div#home a.btn.btn-primary.btn-lg {
	    font-size: 12px;
	    margin-bottom: 20px;
	}
	div#produk .col-12.text-center.display-4 p{
		font-size: 30px; 
	}
	.col-xl-3.ml-xl-0.col-lg-4.ml-lg-0.col-md-4.pl-md-2.col-sm-6.col-6.mb-1 {
	    margin-right: -31px;
    	margin-left: 15px;
	}
	div.col-xl-3.ml-xl-0.col-lg-4.ml-lg-0.col-md-4.pl-md-2.col-sm-6.col-6.mb-1 .card{
		width: 7rem;
    	height: 200px;
	} 
	div.col-xl-3.ml-xl-0.col-lg-4.ml-lg-0.col-md-4.pl-md-2.col-sm-6.col-6.mb-1 .card-body {
	    padding: 6px;
	}
	div.col-xl-3.ml-xl-0.col-lg-4.ml-lg-0.col-md-4.pl-md-2.col-sm-6.col-6.mb-1 h5.card-title {
	    font-size: 9px;
	}
	div.col-xl-3.ml-xl-0.col-lg-4.ml-lg-0.col-md-4.pl-md-2.col-sm-6.col-6.mb-1 p.card-text {
	    font-size: 7.5px;
	}
	div.col-xl-3.ml-xl-0.col-lg-4.ml-lg-0.col-md-4.pl-md-2.col-sm-6.col-6.mb-1 a.btn.btn-primary {
	    font-size: 6px;
	    padding: 2px;
	    margin: 1px;
	    margin-top: -34px;
	}
	div#pesan {
	    padding: 23px;
	}
	div#pesan .container {
	    width: 100%;
	    padding-right: 0px;
	    padding-left: 0px;
	    margin-right: auto;
	    margin-left: auto;
	}
	div#pesan .form-group.row {
	    font-size: 11px;
	}
	div#pesan input#nama, div#pesan input#alamat{
		font-size: 10px;
	}
	div#pesan .container .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6.mb-1 .card {
		width: 6rem;
	    height: 185px;
	}
	div#pesan .container .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6.mb-1 .card-body {
	    padding: 0px 5px;
	}
	div#pesan .container .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6.mb-1 h5.card-title {
	    font-size: 11px;
	}
	div#pesan .container .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6.mb-1 .card-body p{
	    font-size: 7px;
	    margin-left: 3px;
	}
	div#pesan .container .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6.mb-1 input{
		width: 40px;
	    font-size: 8px;	
	}
	div#pesan .container button.btn.btn-primary.mb-2 {
	    font-size: 10px;
	    margin-top: 11px;
	}
	div#pesan .container a {
	    font-size: 12px;
	}
	footer.bg-dark.text-white h5 {
	    font-size: 18px;
	}
	footer.bg-dark.text-white p {
	    font-size: 7px;
	}
	.copyright.text-center.text-white.font-weight-bold.bg-primary.p-1 {
	    height: 28px;
	}
	.copyright.text-center.text-white.font-weight-bold.bg-primary.p-1 p {
	    font-size: 7px;
	}

}