.jumbotron{
	width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
	background-image: url(img/pola.jpg) ;
	background-size: cover;
	height: 600px;
}
@media (min-width: 1300px){
	.jumbotron{
		background-position: 0 -220px;
		height: 500px;
	}
}
.card:hover{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	transform: scale(1.02);
}